/*
 * The main dark mode styles
 */

@mixin dark-scheme {

  /* Framework color */

  --main-bg: rgb(21, 24, 37); /* 1st */
  --mask-bg: rgb(68, 69, 70);
  --main-border-color: rgb(44, 45, 45); /* three border lines */ 

  /* Common color */

  --text-color: rgb(175, 176, 177); /* page number text color */
  --text-muted-color: #B0B0B0; /* common non-active text color 2nd */
  --text-muted-hightlight-color: var(--heading-color);
  --heading-color: #E0E0E0; /* post title and h1 color 3rd */
  --label-color: var(--site-title-color); /* right side bar heading color */
  --blockquote-border-color: rgb(66, 66, 66);
  --blockquote-text-color: var(--text-muted-color);
  --link-color: rgb(138, 180, 248);
  --link-underline-color: rgb(82, 108, 150);
  --button-bg: var(--sidebar-bg);
  --btn-border-color: #2e2f31; /* trending tags border color */
  --btn-backtotop-color: var(--sidebar-active-color);
  --btn-backtotop-border-color: var(--sidebar-active-color); /* only for backtotop button */
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: var(--sidebar-bg); /* categories bg color */
  --checkbox-color: rgb(118, 120, 121); /* checkbox border */
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, rgb(22, 22, 24) 0%, rgb(32, 32, 32) 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */

  --sidebar-bg: #1a1d2d; /* 4th */
  --sidebar-border-color: var(--sidebar-bg);

  --avatar-border-color: rgb(206, 206, 206, 0.9);
  --site-title-color: #FAF9F6; /* 5th */
  --site-subtitle-color: var(--text-muted-color);


  --sidebar-muted-color: var(--heading-color);
  --sidebar-active-color: rgb(1, 255, 255, 0.95); /* 6th */
  --sidebar-hover-bg: #252a41; /* 7th */
  --sidebar-btn-bg: var(--sidebar-hover-bg);
  --sidebar-btn-color: var(--heading-color);;

  /* Topbar */

  --topbar-bg: rgb(var(--main-bg) / 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: rgb(55, 55, 55);
  --search-icon-color: rgb(100, 102, 105);
  --input-focus-border-color: var(--sidebar-active-color);

  /* Home page */

  --post-list-text-color: var(--text-color);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: var(--sidebar-hover-bg);

  /* Posts */

  --toc-highlight: var(--sidebar-active-color);
  --tag-hover: var(--sidebar-hover-bg); /* tags page hover */

  --tb-odd-bg: #252526; /* odd rows of the posts' table */
  --tb-even-bg: rgb(31, 31, 34); /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: rgb(63, 81, 181);

  --btn-share-color: var(--site-title-color);
  --btn-share-hover-color: var(--sidebar-active-color);

  --card-bg: var(--sidebar-bg); /* card and categories background */

  --card-hovor-bg: rgb(80, 84, 103);
  --card-shadow: rgb(21, 21, 21, 0.72) 0 6px 18px 0,
    var(--sidebar-bg) 0 0 0 1px; /* card border line */

  --kbd-wrap-color: #6a6a6a;
  --kbd-text-color: #d3d3d3;
  --kbd-bg-color: #242424;
  --prompt-text-color: rgb(216, 212, 212, 0.75);
  --prompt-tip-bg: rgb(22, 60, 36, 0.64);
  --prompt-tip-icon-color: rgb(15, 164, 15, 0.81);
  --prompt-info-bg: rgb(7, 59, 104, 0.8);
  --prompt-info-icon-color: #0075d1;
  --prompt-warning-bg: rgb(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgb(255, 165, 0, 0.8);
  --prompt-danger-bg: rgb(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* tags */

  --tag-border: rgb(59, 79, 88);
  --tag-shadow: rgb(32, 33, 33);
  --dash-color: rgb(63, 65, 68);
  --search-tag-bg: #292828;

  /* categories */

  --categories-border: var(--card-bg);
  --categories-hover-bg: var(--sidebar-hover-bg);
  --categories-icon-hover-color: white;

  /* archives */

  --timeline-node-bg: rgb(150, 152, 156);
  --timeline-color: rgb(63, 65, 68);
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  /* categories */

  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      rgb(26, 26, 30),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(39, 39, 45),
      rgb(26, 26, 30)
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */

  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */
