---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% assign tab_key = page.title | downcase %}
  {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
  <h1 class="dynamic-title">{{ title }}</h1>
  <div class="post-meta text-muted mb-3">
    {% if site.pageviews.provider and site.analytics[site.pageviews.provider].id %}
      <span>
        <em id="pageviews">
          <i class="fas fa-spinner fa-spin small"></i>
        </em>
        {{ site.data.locales[lang].post.pageview_measure | default: "views" }}
      </span>
    {% endif %}
  </div>
  <div class="content">
    {{ content }}
  </div>
</article>

{% if site.pageviews.provider and site.analytics[site.pageviews.provider].id %}
  {% include pageviews/goatcounter.html %}
{% endif %}
